<template>
  <div>
    <b-container>
      <b-row>
        <b-col>
          <h1 class="m-3">
            Our Current Members
          </h1>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table striped hover :items="list"></b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import axios from "axios";

export default {
  name: "AllUsers",
  data() {
    return {
      list: []
    };
  },
  mounted() {
    axios.get(process.env.VUE_APP_API_URL + "test/").then(response => {
      console.log(response.data);
      response.data.forEach(obj => {
        delete obj["created_at"];
      });
      this.list = response.data;
    });
  }
};
</script>
<style></style>
