<template>
  <div>
    <b-container>
      <b-row class="m-5">
        <b-col>
          <b-form @submit="onSubmit" v-if="show">
            <b-form-group
              id="input-group-edit-prof-1"
              label="Name:"
              label-for="input-edit-prof-1"
            >
              <b-form-input
                id="input-edit-prof-1"
                v-model="form.name"
                placeholder="Current Name"
              >
              </b-form-input>
            </b-form-group>
            <b-form-group
              id="input-group-edit-prof-2"
              label="DOB:"
              label-for="input-edit-prof-2"
            >
              <b-form-input
                id="input-edit-prof-2"
                v-model="form.dob"
                placeholder="Current DOB"
              >
              </b-form-input>
            </b-form-group>
            <b-form-group
              id="input-group-edit-prof-3"
              label="Phone Number:"
              label-for="input-edit-prof-3"
            >
              <b-form-input
                id="input-edit-prof-3"
                v-model="form.phoneNumber"
                placeholder="Current Phone Number"
              >
              </b-form-input>
            </b-form-group>
            <b-form-group
              id="input-group-edit-prof-4"
              label="Address:"
              label-for="input-edit-prof-4"
            >
              <b-form-input
                id="input-edit-prof-4"
                v-model="form.address"
                placeholder="Current Address"
              >
              </b-form-input>
            </b-form-group>
            <b-button class="my-3" variant="outline-primary" type="submit">
              Save Changes
            </b-button>
          </b-form>
        </b-col>
      </b-row>
      <b-row align-h="center">
        <b-col cols="2">
          <!-- <b-button variant="outline-primary" type="submit">
            Save Changes
          </b-button> -->
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "EditProfile",
  data() {
    return {
      form: {
        name: "",
        dob: "",
        phoneNumber: "",
        address: ""
      },

      show: true
    };
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
      let userId = localStorage.getItem("userId");
      axios
        .put(process.env.VUE_APP_API_URL + `test/${userId}`, {
          name: this.form.name,
          dob: this.form.dob,
          phone_number: this.form.phoneNumber,
          address: this.form.address
        })
        .then(response => {
          console.log(response);
          if (response.status === 200) {
            alert("Success");
            this.$router.push("/");
          } else {
            alert("Failed");
          }
        });
    }
  }
};
</script>
<style></style>
