<template lang="">
  <div class="landing-page">
    <b-container v-if="isLoggedIn === true">
      <b-row>
        <b-col>
          <h1 class="text-center mb-3">{{ profileData.name }}'s Profile</h1>
        </b-col>
      </b-row>
      <b-row align-h="center">
        <b-col cols="10">
          <b-list-group class="mb-3 ">
            <b-list-group-item>Name: {{ profileData.name }}</b-list-group-item>
            <b-list-group-item>DOB: {{ profileData.dob }}</b-list-group-item>
            <b-list-group-item
              >Phone Number: {{ profileData.phone_number }}</b-list-group-item
            >
            <b-list-group-item
              >Address: {{ profileData.address }}</b-list-group-item
            >
          </b-list-group>
          <b-row align-h="center">
            <b-button
              class=""
              variant="outline-primary"
              href="#"
              to="/editProfile"
              >Edit Profile</b-button
            >
          </b-row>
        </b-col>
      </b-row>
      <b-row> </b-row>
    </b-container>
    <b-container v-else>
      <h1 class="m-5 p-5">Please Log In or Register to view your profile</h1>
    </b-container>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "LandingPage",
  data() {
    return {
      profileData: {
        name: "temp Name"
      },
      isLoggedIn: false,
      userId: ""
    };
  },
  mounted() {
    console.log(this.isLoggedIn);

    let userId = localStorage.getItem("userId");
    console.log({ userId: this.userId });
    axios.get(process.env.VUE_APP_API_URL + `test/${userId}`).then(response => {
      console.log(response.data);

      this.profileData = response.data;

      if (this.userId !== "" || this.userId !== null) {
        this.isLoggedIn = true;
        console.log(this.isLoggedIn);
      }
    });
  }
};
</script>
<style></style>
