<template lang="">
  <div>
    Login / Register Page
    <b-container class="text-center">
      <b-row align-h="center">
        <b-col class="mx-3">
          <Login />
        </b-col>
        <b-col class="mx-3">
          <Register />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import Login from "../components/Login";
import Register from "../components/Register";
export default {
  name: "LoginRegister",
  components: {
    Login,
    Register
  }
};
</script>
<style></style>
