<template>
  <div>
    <h1>Already a member?</h1>
    <div>
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
        <b-form-group
          class="text-left"
          id="input-group-1"
          label="Email address:"
          label-for="input-1"
          description="We'll never share your email with anyone else."
        >
          <b-form-input
            id="input-1"
            v-model="form.email"
            type="email"
            placeholder="Enter email"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          class="text-left"
          id="input-group-2"
          label="Password:"
          label-for="input-2"
          description="Your password must be more than 4 characters long "
          :invalid-feedback="invalidFeedbackPassword"
          :state="passwordState"
        >
          <b-form-input
            id="input-2"
            v-model="form.password"
            :state="passwordState"
            placeholder="Enter password"
            required
          ></b-form-input>
        </b-form-group>

        <b-button type="submit" variant="primary">Log In</b-button>
      </b-form>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  computed: {
    passwordState() {
      if (this.form.password.length === 0) {
        return null;
      } else if (this.form.password.length < 4) {
        return false;
      } else {
        return true;
      }
    },
    invalidFeedbackPassword() {
      if (this.form.password.length > 0) {
        return "Enter at least 4 characters.";
      }
      return "Please enter something.";
    }
  },
  data() {
    return {
      form: {
        email: "",
        password: ""
      },

      show: true
    };
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
      console.log(JSON.stringify(this.form));
      axios
        .post(process.env.VUE_APP_API_URL + "test/login", {
          email: this.form.email,
          pw: this.form.password
        })
        .then(response => {
          console.log(response);
          if (response.status === 200) {
            localStorage.setItem("userId", response.data.id);
            alert("Success");
            this.$router.push("/");
          } else {
            alert("Login Failed");
          }
        });
    },
    onReset(event) {
      event.preventDefault();
      // Reset our form values
      this.form.email = "";
      this.form.password = "";

      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    }
  }
};
</script>
<style></style>
