<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="dark">
      <b-navbar-brand href="#">Troopers</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="me-auto">
          <b-nav-item href="#" to="/">Home</b-nav-item>
          <b-nav-item href="#" to="/allusers">Users</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item
            v-if="isLoggedIn === false || userId === null"
            href="#"
            to="/loginRegister"
            >Login / Register</b-nav-item
          >
          <b-nav-item v-else href="#" @click="logout">Logout</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>
<script>
export default {
  data() {
    return {
      isLoggedIn: false,
      userId: ""
    };
  },
  mounted() {
    this.userId = localStorage.getItem("userId");
    console.log({ nav: this.userId });
    if (this.userId !== "" && this.userId !== null) {
      this.isLoggedIn = true;
    }
  },
  methods: {
    logout() {
      localStorage.removeItem("userId");

      this.$nextTick(() => {
        this.isLoggedIn = false;
      });
      this.$forceUpdate();
    }
  }
};
</script>
<style>
.navbar-padding {
  padding-left: 2rem;
  padding-right: 2rem;
}
.custom-width {
  width: 300px;
}
</style>
