<template>
  <div>
    <h1>Register as a member</h1>
    <div>
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
        <b-form-group
          class="text-left"
          id="input-reg-group-1"
          label="Name:"
          label-for="input-reg-1"
        >
          <b-form-input
            id="input-reg-1"
            v-model="form.name"
            placeholder="Enter name"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          class="text-left"
          id="input-reg-group-2"
          label="Email address:"
          label-for="input-reg-2"
          description="We'll never share your email with anyone else."
        >
          <b-form-input
            id="input-reg-2"
            v-model="form.email"
            type="email"
            placeholder="Enter email"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          class="text-left"
          id="input-reg-group-3"
          label="Password:"
          label-for="input-reg-3"
          description="Your password must be more than 4 characters long "
          :invalid-feedback="invalidFeedbackPassword"
          :state="passwordState"
        >
          <b-form-input
            id="input-reg-3"
            type="password"
            v-model="form.password"
            :state="passwordState"
            placeholder="Enter password"
            required
          ></b-form-input>
        </b-form-group>
        <!-- <b-form-group
          class="text-left"
          id="input-reg-group-4"
          label="Confirm Password:"
          label-for="input-reg-4"
          :invalid-feedback="invalidFeedbackConfirmPassword"
          :state="confirmPasswordState"
        >
          <b-form-input
            id="input-reg-4"
            type="password"
            v-model="form.confirmPassword"
            :state="confirmPasswordState"
            placeholder="Enter password"
            required
          ></b-form-input>
        </b-form-group> -->

        <b-button type="submit" variant="primary">Register</b-button>
      </b-form>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  computed: {
    passwordState() {
      if (this.form.password.length === 0) {
        return null;
      } else if (this.form.password.length < 4) {
        return false;
      } else {
        return true;
      }
    },
    invalidFeedbackPassword() {
      if (this.form.password.length > 0) {
        return "Enter at least 4 characters.";
      }
      return "Please enter something.";
    },
    confirmPasswordState() {
      if (this.form.confirmPassword.length === 0) {
        return null;
      } else if (this.form.confirmPassword.length < 4) {
        return false;
      } else {
        return true;
      }
    },
    invalidFeedbackConfirmPassword() {
      if (this.form.confirmPassword.length > 0) {
        return "Enter at least 4 characters.";
      }
      return "Please enter something.";
    }
  },
  data() {
    return {
      form: {
        name: "",
        email: "",
        password: "",
        confirmPassword: ""
      },

      show: true
    };
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
      console.log(JSON.stringify(this.form));
      axios
        .post(process.env.VUE_APP_API_URL + "test/register", {
          name: this.form.name,
          email: this.form.email,
          pw: this.form.password
        })
        .then(response => {
          console.log(response);
          if (response.status === 200) {
            alert("Success");
          } else {
            alert("Failed");
          }
        });
    },
    onReset(event) {
      event.preventDefault();
      // Reset our form values
      this.form.email = "";
      this.form.name = "";
      this.form.confirmPassword = "";
      this.form.password = "";

      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    }
  }
};
</script>
<style></style>
